body {
    margin: 0;
}


.container {
    display: flex;
    background-color: #DDD;
    flex-direction: row;
}

.child-1 {
    background-color: red;
    flex-basis: 150px;
}

.child-2 {
    background-color: green;
    flex-basis: 200px;
    flex-grow: 1;
}

.child-3 {
    background-color: blue;
    flex-basis: 150px;
}